<h1>Menu Principal</h1>
		<br><br>
		<%=link_to "Ingredientes", :controller=>:ingredients%><br>
		<%=link_to "Materia prima", :controller=>:raw_materials%><br>
		<br>
		<%=link_to "Plantillas de inventario", :controller=>:inventory_templates%><br>
